version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: kasastok
      POSTGRES_PASSWORD: kasastokpass
      POSTGRES_DB: kasastokdb
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
volumes:
  dbdata:
